# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List a Table with one column and 3 rows

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Keras

|Data Science Tools|
|---|
|Jupyte Notebook|
|Jupyter Lab|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Konstantinos